/*  */

* {
    margin: 0;
}

body {
    height: 100vh;
    background: transparent linear-gradient(180deg, #00A1C8 0%, #202020 100%) 0% 0% no-repeat padding-box;
}

img {
    height: auto;
    width: 100%;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    box-shadow: 20px 20px 99px 0 #00000029;
    position: absolute;
    z-index: 1;
}

.artist {
    position: absolute;
    z-index: 2;
    margin-top: 27vh;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    color: #FCFAFA;
    font-size: 7vh;
    font-weight: 400;
    letter-spacing: -0.5vw;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    color: #FCFAFA;
    font-size: 1.3vh;
    font-weight: lighter;
    letter-spacing: 0.3vw;
    margin-left: 0.5em;
}
