/*  */

* {
    margin: 0;
}

body {
    height: 100vh;
}

.bg {
    position: absolute;
    height: 54vh;
    width: 100%;
    background: transparent linear-gradient(180deg, #00A1C8 0%, #202020 100%) 0% 0% no-repeat padding-box;
    z-index: 1;
    margin-top: 46vh;
}

.lauv {
    height: auto;
    width: 100%;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    box-shadow: 20px 20px 99px 0 #00000029;
    position: absolute;
    z-index: 1;
}

.artist {
    position: absolute;
    z-index: 2;
    margin-top: 27vh;
    margin-left: 7%;
}

.artist h1 {
    font-family: 'Noto Sans', sans-serif;
    color: #FCFAFA;
    font-size: 7vh;
    font-weight: 400;
    letter-spacing: -0.5vw;
}

.artist h2 {
    font-family: 'Noto Sans', sans-serif;
    color: #FCFAFA;
    font-size: 1.1vh;
    font-weight: lighter;
    letter-spacing: 0.3vw;
    margin-left: 0.5em;
    line-height: 1.7vh;
}

.play_holder {
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 49vh;
    z-index: 3;
}

.play_holder img {
    margin-left: 1.7%;
    height: 14vh;
    text-align: center;
}

.play_holder h1 {
    margin-top: -2.5vh;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.3vw;
    color: #FFFFFF;
    text-transform: uppercase;
}

.songs {
    height: 100vh;
    width: 100%;
    position: absolute;
}
